@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: #f8f9fa;
  user-select: none;
}

/* HEADER */

#header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  outline: 1px solid #dee2e6;
  z-index: 999;
}

#navbar {
  max-width: 1280px;
  margin: 0 auto;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  color: #212529;
  position: relative;
  transition: color 0.25s ease;
  font-weight: 500;
}

#nav-links a:hover {
  color: #40916c;
}

/* underline animation */
#nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #40916c;
  transition: width 0.25s ease;
}

#nav-links a.active {
  color: #40916c;
}

#nav-links a.active::after {
  width: 100%;
}

/* SECTIONS */

section {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
}

#home {
  background: #ffffff;
}
#about {
  background: #e9f5ee;
}
#skills {
  background: #d8f3dc;
}
#contact {
  background: #c7f9cc;
}
